/************************
***** PERSONAL SITE *****
*************************/

/* ***** BASIC CSS ***** */

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  -webkit-transition: 240ms;
  transition: 240ms;
}

body {
  color: #40514e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

hr {
  border: #def1f1 6px;
  border-style: dotted none none;
  width: 5%;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 2;
}

section {
  padding: 100px 0;
}

/* ***** HEADER SECTION ***** */

header {
  font-size: 1.2rem;
  height: 72px;
  margin: 0 auto;
  padding: 50px 0;
  position: fixed;
  text-align: left;
  top: 0;
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
  width: 100%;
  z-index: 1000;
}

header.nav {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px #0608081a;
  box-shadow: 0 1px 1px #0608081a;
  opacity: 0.97;
}

.navbar {
  margin: 0 120px;
}

.logo {
  cursor: pointer;
  height: 72px;
}

nav {
  float: right;
  line-height: 72px;
}

nav a:hover {
  color: #053133;
}

/* ***** TOP SECTION ***** */

section#top {
  background-color: #e4f9f5;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.title {
  padding-top: calc(90px + 172px);
  position: relative;
  z-index: 3;
}

@media only screen and (max-height: 767px) {
  .title {
    padding-top: calc(3% + 172px);
  }
}

h1 {
  color: #66bfbf;
  font-family: 'Allura', cursive;
  font-size: 5.625rem;
  margin: 0 auto;
}

.subtitle {
  font-size: 1.5rem;
}

.top-cloud {
  height: 55px;
  position: absolute;
  right: 250px;
  top: 170px;
}

.bottom-cloud {
  bottom: 42%;
  height: 55px;
  left: 270px;
  position: absolute;
}

.mountain {
  bottom: 0;
  height: 40%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ***** PROFILE SECTION ***** */

.profile-pic {
  margin-bottom: 24px;
  border-radius: 100%;
}

.intro {
  margin: 24px auto 0;
  width: 30%;
}

/* ***** SKILLS SECTION ***** */

.skill {
  margin: 100px auto 0;
  text-align: left;
  width: 50%;
}

.dev-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.game-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

/* ***** CONTACT SECTION ***** */

.contact-title {
  padding-bottom: 24px;
}

.contact-message {
  margin: 46px auto 34px;
  width: 40%;
}

.contact-btn {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#11cdd4),
    to(#11999e)
  );
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#30e3cb),
    to(#2bc4ad)
  );
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

/* ***** FOOTER SECTION ***** */

footer {
  background-color: #66bfbf;
  padding: 50px 0 40px;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.62rem;
  margin: 0;
  padding: 24px 0 0;
}
